# Ignore everything
*

# But not these files...
!.gitignore
!anacrontab
!bash.bash_logout
!bash.bahrc
!crontab
!environment
!profile
!inputrc
!locale.conf
!locale.gen
!mkinitcpio.conf
!pacman.conf
!resolv.conf
!vimrc
!fstab
!crypttab
*/
!cron.d/
!cron.d/*
!cron.daily/
!cron.daily/*
!cron.deny/
!cron.deny/*
!cron.hourly/
!cron.hourly/*
!cron.monthly/
!cron.monthly/*
!cron.weekly/
!cron.weekly/*
!default/
!default/*
!dnscrypt-proxy/
!dnscrypt-proxy/dnscrypt-proxy.toml
!iptables/
!iptables/rules.v4
!iptables/rules.v6
!pacman.d/
!pacman.d/*

